{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Reset Password</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row main">
        <div class="col-sm-3"></div>
        <div class="col-sm-5"/>
        <div class="main-login main-center">
            <h4 style="text-align: center;"><b>User Signup Form</b></h4>
            <form class="text-center" id="userdetails" method="post">
                {% csrf_token %}
                <span>
                    <h3>An email has been sent to registered email address. <br/>Follow the instructions in mail to reset your password.</h3>
                </span>
                <div class="text-center">
                    <span>
                        You have an account?
                    </span>
                     <a href='{% url "login" %}'>
                        Login
                    </a><br/>
                    <span>
                        Don't have an account?
                    </span>
                     <a href='{% url "signup" %}'>
                        Sign Up
                    </a><br/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}