{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Fees Payment Portal</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row main">
        <div class="col-sm-3"></div>
        <div class="col-sm-5"/>
        <div class="main-login main-center">
            <h4 style="text-align: center;"><b>Fees Payment Form</b></h4>
            <form class="text-center" id="fees_payment" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.institute}}
                            </span>
                        </div>
                    </div>
                    {%if 'institute' in errors%}
                        <div class='alert alert-warning'>{{errors.institute}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.branch}}
                            </span>
                        </div>
                    </div>
                    {%if 'branch' in errors%}
                        <div class='alert alert-warning'>{{errors.branch}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.enrollment}}
                            </span>
                        </div>
                    </div>
                    {%if 'enrollment' in errors%}
                        <div class='alert alert-warning'>{{errors.enrollment}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div>
                        <div class="input-group">
                            <!-- <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span> -->
                            <div class="checkbox">
                                <label><input id="amount_type_1" name="fees_type" type="checkbox" value="admission">Admission</label>
                            </div>
                            <div class="checkbox">
                                <label><input id="amount_type_2" name="fees_type" type="checkbox" value="exam">Exam</label>
                            </div>
                            <div class="checkbox">
                                <label><input id="amount_type_4" name="fees_type" type="checkbox" value="hostel">Hostel</label>
                            </div>
                            <div class="checkbox">
                                <label><input id="amount_type_3" name="fees_type" type="checkbox" value="transportation">TRANSPORTATION</label>
                            </div>
                        </div>
                    </div>
                    {%if 'amount_type' in errors%}
                        <div class='alert alert-warning'>{{errors.amount_type}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.amount_value}}
                            </span>
                        </div>
                    </div>
                    {%if 'amount_value' in errors%}
                        <div class='alert alert-warning'>{{errors.amount_value}}</div>
                    {% endif %}
                </div>
                 {%if 'general_error' in errors%}
                    <div class='alert alert-warning'>{{errors.general_error}}</div>
                {% endif %}
                <div class="form-group">
                    <input type="submit" name="submit" id="submit" class="form-submit submit " value="Pay Now"/>
                </div>           
         </form>
      </div>
    </div>
  </div>
{% endblock %}