{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Reset Password</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row main">
        <div class="col-sm-3"></div>
        <div class="col-sm-5"/>
        <div class="main-login main-center">
            <h4 style="text-align: center;"><b>User Signup Form</b></h4>
            <form class="text-center" id="userdetails" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.username}}
                            </span>
                        </div>
                    </div>
                    {%if 'username' in errors%}
                        <div class='alert alert-warning'>{{errors.first_name}}</div>
                    {% endif %}
                </div>
                {%if 'general_error' in errors%}
                <div class='alert alert-warning'>{{errors.general_error}}</div>
                {% endif %}
                <div>
                    <button class="btn btn-primary btn-lg btn-block signup-button" type="submit">
                            Reset Password
                    </button>
                </div>
                <div class="text-center">
                    <span>
                        You have an account?
                    </span>
                     <a href='{% url "login" %}'>
                        Login
                    </a><br/>
                    <span>
                        Don't have an account?
                    </span>
                     <a href='{% url "signup" %}'>
                        Sign Up
                    </a><br/>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}