{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Set Password</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row main">
        <div class="col-sm-3"></div>
        <div class="col-sm-5"/>
        <div class="main-login main-center">
            <h4 style="text-align: center;"><b>Reset Password</h4>
            <form class="text-center" id="resetpassword" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.password_1}}
                            </span>
                        </div>
                    </div>
                    {%if 'password_1' in errors%}
                        <div class='alert alert-warning'>{{errors.password_1}}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                            <span>
                                {{form.password_2}}
                            </span>
                        </div>
                    </div>
                    {%if 'password_2' in errors%}
                        <div class='alert alert-warning'>{{errors.password_2}}</div>
                    {% endif %}
                </div>
                {%if 'general_error' in errors%}
                    <div class='alert alert-warning'>{{errors.general_error}}</div>
                {% endif %}
                {%if 'general_error' in errors%}
                    <div class='alert alert-warning'>{{errors.general_error}}</div>
                {% endif %}
                <div>
                    <button class="btn btn-primary btn-lg btn-block signup-button" type="submit">
                        Reset Password
                    </button>
                </div>
          <div class="text-center">
            <span>
              Already Registered?
            </span>
             <a href='{% url "login" %}'>
              Login
            </a><br/>
            <span>
              Don’t have an account?
            </span>
              <a href='{% url "signup" %}'>
              Sign Up
            </a><br/>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}