{% extends 'base.html' %}
{% load static %}

{% block title %}<title>User Registration Portal</title>{% endblock %}

{% block content %}
 <div class="main">
        <div class="container">
            <div class="signup-content">
                <form method="" id="signup-form" class="signup-form">
                    {% csrf_token %}
                    <h2>Sign up </h2>
                    <div class="form-group">
                            <span>
                                {{form.first_name}}
                            </span>
                    </div>
                    <div class="form-group">
                        <span>
                                {{form.last_name}}
                        </span>
                    </div>
                    <div class="form-group">
                        <span>
                                {{form.username}}
                        </span>
                    </div>
                    <div class="form-group">
                        <span>
                                {{form.email}}
                        </span>
                    </div>
                    <div class="form-group">
                        <span>
                                {{form.mobile}}
                        </span>
                    </div>
                    <div class="form-group">
                        <span>
                                {{form.dob}}
                        </span>
                    </div>
                    <div class="form-group">
                        <span>
                                {{form.address}}
                        </span>
                    </div>
                    <div class="form-group">
                       <span>
                                {{form.password_1}}
                        </span>
                    </div>
                    <div class="form-group">
                        <span>
                                {{form.password_2}}
                        </span>
                    </div>
                    <div class="form-group">
                        <span>
                                {{form.institute}}
                        </span>
                    </div>
                    <div class="form-group">
                        <span>
                                {{form.branch}}
                        </span>
                    </div>
                    <div class="form-group">
                        <div style="padding-right:  1px"> 
                            <label class="radio-inline">
                                <h4>Genders</h4>                               
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="id_gender_0" value="M" required/>
                                   Male
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="gender" id="id_gender_1" value="F" required/>
                                   Female
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" name="submit" id="submit" class="form-submit submit" value="Sign up"/>
                        <a href='{% url "login" %}' class="submit-link submit">Sign in</a>
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
