{% load static %}
<!DOCTYPE html>
<html>
<head>
  {% block title %}{% endblock %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}">
  <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/custom.js' %}"></script> 
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
</head>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Student asdadasdf ddFees Portal</a>
    </div>
    {% if not user.username %}
    <ul class="nav navbar-nav navbar-right">
      <li><a href='{% url "signup" %}'><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href='{% url "login" %}'><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
    {% endif %}
    {%if user.id%}
      <ul class="nav navbar-nav navbar-right">
        <li><a href='{% url "logout" %}'><span class="glyphicon glyphicon-user"></span> Log Out</a></li>
      </ul>
    {% endif %}
    </div>
</nav>
 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
 <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
 <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.min.css' %}">-->
<body>
    {% block content %}

    {% endblock %}
</body>
</html>
